body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: grey;
}

.navbar{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo{
    font-size: 10px;
    margin: auto;
    height: 20px;
    width: 40px;
}

.navlinks ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navlinks ul li{
    list-style-type: none;
    color: grey;
}

.navlinks  ul li a{
    text-decoration: none;
    padding: 1rem;
    display: flex;
    color: grey;
}

.navlinks li a:hover{
    color: rgb(172, 119, 94);
}

.First{
    padding: 50px 20px;
    text-align: center;
}

.container{
    background-color: #ccc;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.container h3{
    color: #1a1a1a;
}

.btn{
    background-color: #1a1a1a;
    color: white;
    padding: 4px 10px;
    width: 170px;
    text-decoration: none;
}

.btn p{
    text-decoration: none;
}

.btn:hover{
    cursor: pointer;
    background-color: grey;
}

.container p{
    text-decoration: none;
}

.title{
    color: rgb(23, 23, 112);
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(52, 52, 109, 0.621);
    color: bisque;
}

footer ul{
    margin-left: -5px;
}

footer ul li{
    list-style-type: none;
}